<ion-item class="custom-input" lines="none">
  <ion-icon *ngIf="icon" slot="start" [name]="icon"></ion-icon>
  <ion-input 
    [type]="type" 
    [autocomplete]="autocomplete" 
    [label]="label"
    [formControl]="control"
    label-placement="floating"
  ></ion-input>

  <ion-buttons slot="end">
    <ion-button *ngIf="isPassword" (click)="showOrHidePassword()" expand="block" fill="clear" shape="round">
      <ion-icon color="primary" slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>